@import 'vars';

.MyOrder {
	width: 360px;
	padding: 1em;
	box-sizing: border-box;
	position: absolute;
	right: 20px;
	border: 1px solid $--very-light-pink;
	border-radius: 6px;
	background-color: white;


	.title-container {
		display: flex;
	}
	.title-container img {
		transform: rotate(180deg);
		margin-right: 14px;
		&:hover {
			opacity: .9;
			cursor: pointer;
		}
	}
	.title-container .title {
		font-size: $--lg;
		font-weight: bold;
		margin-bottom: 1em;
		margin: 12px 12px;
	}
	.order {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 16px;
		align-items: center;
		background-color: $--text-input-field;
		margin-bottom: 24px;
		border-radius: 8px;
		padding: 0 24px;
	}
	.order-products {
		max-height: 20em;
		overflow: auto;
	}
	.order p:nth-child(1) {
		display: flex;
		flex-direction: column;
	}
	.order p span:nth-child(1) {
		font-size: $--md;
		font-weight: bold;
	}
	.order p:nth-child(2) {
		text-align: end;
		font-weight: bold;
	}
	
	.primary-button {
		background-color: $--hospital-green;
		border-radius: 8px;
		border: none;
		color: $--white;
		width: 100%;
		cursor: pointer;
		font-size: $--md;
		font-weight: bold;
		height: 50px;
		display: grid;
		place-items: center;
		a {display: block;}
		
		transition: .1s;
		&:hover {opacity: .9;}
	}
	@media (max-width: 640px) {
		& {
			width: 100%;
			right: 0px;
		}
	}
	
}
